main {
   min-height: 80vh;
}

h1 {
   font-size: 28px;
   padding: 16px 0;
}

h2 {
   font-size: 22px;
   padding: 8px 0;
}

h3 {
   padding: 10px 0;
}

.rating span {
   margin: 2px;
}

main {
   background: url(./assets/stars.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

.logo {
   width: 60px;
}

.navbar {
   background-color: black !important;
}